<h1>People:</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Remaining</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, person %></td>
        <td><%= format_currency person.remaining %> of <%= format_currency person.budget %></td>
      </tr>
    <% end %>
  </tbody>
</table>
